/*#dashbord1 {
    background: #E6E6B7;
}

#dashbord2 {
    background: #BCE6B7;
}

#dashbord3 {
    background: #B7E6DD;
}*/

.datePicker-CAZA {
    background-color: white;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #DCDCDC;
    width: 100%;
    color: #979797;
    font-family: Calibri;
    text-indent: 4px;
}

#swc1 {
    position: relative;
    margin: 0 5px 0 10px;
    display: inline-block;
    height: 50px;
    padding: 0 35px 0 20px;
    font-size: 25px;
    line-height: 65px;
    font-weight: 500;
    margin: 0px 0px;
    //background: #E6E6B7;
}

#swc2 {
    position: relative;
    margin: 0 5px 0 10px;
    display: inline-block;
    height: 50px;
    padding: 0 35px 0 20px;
    font-size: 25px;
    line-height: 65px;
    font-weight: 500;
    margin: 0px 0px;
    background: #BCE6B7;
}


#swc3 {
    position: relative;
    margin: 0 5px 0 10px;
    display: inline-block;
    height: 50px;
    padding: 0 35px 0 20px;
    font-size: 25px;
    line-height: 65px;
    font-weight: 500;
    margin: 0px 0px;
    background: #B7E6DD;
}

.botoncito4 {
    display: inline-block;
}

.cargando {
    animation: rotate 0.1s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg)
    }
}
