/*!  
        // 3. Loader  
        // --------------------------------------------------*/
.loader {
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.8;
    z-index: 10000000;
    background: Black;
    height: 100%;
    width: 100%;
    margin: auto;
}

.strip-holder {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    margin-left: -50px;
    position: relative;
}

.strip-1,
.strip-2,
.strip-3 {
    width: 20px;
    height: 20px;
    background: #0072bc;
    position: relative;
    -webkit-animation: stripMove 2s ease infinite alternate;
    animation: stripMove 2s ease infinite alternate;
    -moz-animation: stripMove 2s ease infinite alternate;
}

.strip-2 {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    background-color: #23a8ff;
}

.strip-3 {
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    background-color: #89d1ff;
}

@-webkit-keyframes stripMove {
    0% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }
}

@-moz-keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}

@keyframes stripMove {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        -webkit-transform: translate3d(-50px, 0px, 0px);
        -moz-transform: translate3d(-50px, 0px, 0px);
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        transform: scale(4, 1);
        -webkit-transform: scale(4, 1);
        -moz-transform: scale(4, 1);
    }

    100% {
        transform: translate3d(50px, 0px, 0px);
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
    }
}


.aguante {
    text-align: center;
 
    font-size: 30px;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
            background-color:deepskyblue;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
            background-color: dodgerblue;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
            background-color: indigo;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
            background-color: hotpink;
        }


        .lds-ellipsis div:nth-child(5) {
            left: 26px;
            animation: lds-ellipsis4 0.6s infinite;
            background-color: orangered;
        }


@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

@keyframes lds-ellipsis5 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis4 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}



