<link href="~/css/seqtor_principal.css" rel="stylesheet" />
@{
    ViewData["Title"] = "CCostos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    

</head>

<div class="container-fluid">
    
    <h1 class="titulosPrincipales cerulean " style="color:#5c6e91;">Performance Booster <br /> Control de costos</h1>

    <img src="~/Images/Costos.png" />

</div>


