<link href="~/css/seqtor_principal.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Lean";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    

</head>

<div class="container-fluid">
    
    <p class="titulosPrincipales">

        <img src="~/Images/Lean.png" />
    </p>

</div>


