<link href="~/css/seqtor_principal.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Módulo no disponible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


</head>

<div class="container-fluid">

    
    

    <h1 class="titulosPrincipales cerulean " style="color:#5c6e91;">Factory <br /> Performance Booster</h1>

    <br />
    <br />
    <h3 class="titulosPrincipales cerulean " style="color: #dd9866;">Modulo no disponible</h3>

    <br />
    <br />

    <h5 class="titulosPrincipales cerulean " style="color: #7e7474;">
        La funcionalidad que busca no se encuentra activada para su usuario. Por favor contacte con su asesor para recibir información sobre como
        puede empezar a generar valor de esta funcionalidad.
    </h5>

</div>


