<link href="~/css/seqtor_principal.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Política de Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Empresas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <link href="~/css/estilo1.css" rel="stylesheet" />
    <link href="~/css/botones.css" rel="stylesheet" />
    <script src="~/js/panel_principal_carrucel.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/css/seqtor_principal.css" rel="stylesheet" />

</head>

<div class="container-fluid">
    <h1 class="titulosPrincipales cerulean ">Performance Booster <br /> Management Suite</h1>

    <h1 class="titulosPrincipales cerulean">Un producto desarrollado por:</h1>
    <p class="titulosPrincipales">

        <a class="titulosPrincipales" href="https://www.cogcs.com" target="_blank">
            <img class="img-fluid" src="~/lib/imagenes/logo.1100x200.PNG" />
        </a>
    </p>
</div>



<script src="~/js/PruebaX.js" asp-append-version="true"></script>

