@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Se envió un correo a su cuenta.";
}

<h1>@ViewData["Title"]</h1>
<p>
    <br />
    Por favor revise su correo y haga click en el link que aparece para restaurar su contraseña. <br /><br />
    Es posible que el correo llegue a los no deseados, revise esta sección si no ve el correo en su bandeja de entrada.
</p>

